.page-home {
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  background-color: #F3F6F7;
  min-width: 960px;

  .container {
    width: 960px;
    margin: 0 auto;
  }

  .desc {
    color: #9191AA;
    margin: 0;
    margin-bottom: 80px;;
    line-height: 25px;
    font-weight: bold;
  }

  .nav-header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    padding: 0px 45px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 25px;
    color: #fff;
    cursor: pointer;

    &:hover, &:focus {
      color: #fff;
    }
  }

  .navbar-nav {
    font-size: 14px;
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0;

    > li {
      margin-left: 30px;

      > a {
        font-weight: 500;
        font-size: 14px;
      }
    }
  }

  .nav-item {
    > a {
      position: relative;
      line-height: 40px;
      display: inline-block;
      color: #fff;

      &:after {
        content: ' ';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0;
        height: 2px;
        display: inline-block;
        background-color: currentColor;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }
    }

    &.active {
      > a {
        &:after {
          width: 100%;
        }
      }
    }

    .lang-icon {
      fill: #fff;

      &:hover {
        cursor: pointer;
        fill: darken(#fff, 5%);
      }
    }
  }

  .dropdown {
    position: relative;
  }

  .dropdown:hover .ci-dropdown {display: block;}

  .ci-dropdown {
    right: 0;
    left: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #0d1a26;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: "tnum";
    position: absolute;
    display: none;
  }

  .ci-dropdown-menu {
    position: relative;
    margin: 0;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
    -webkit-transform: translateZ(0);
  }

  .ci-dropdown-menu-item {
    clear: both;
    margin: 0;
    padding: 5px 12px;
    color: #0d1a26;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
  }

  .ci-dropdown-menu-item-selected {
    color: #873bf4;
    background-color: #f9f0ff;
  }

  .ciicon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 12px;
    margin-right: 8px;
    font-size: 12px;
  }

  .ciiconvisable {
    visibility: visible;
  }

  .ciiconhide {
    visibility: hidden;
  }
}

.btn + .btn {
  margin-left: 10px;
}

.btn-github {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  color: #715CD6;
  line-height: 40px;
  padding: 0 12px;
  border-radius: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .15);

  .icon {
    font-size: 20px;
    margin-right: 10px;
  }

  &:hover, &:focus {
    background-color: darken(#fff, 5%);
    color: #715CD6;
  }
}

// 首屏
.home-section {
  background-image: url('../static/images/bgc.png');
  height: calc(100vh + 50px);
  max-height: 850px;
  min-height: 750px;
  margin-bottom: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: left;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
  }
}

.slogan-group {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.f-logo {
  width: 300px;
  height: 400px;
  display: inline-block;
  background: url('../static/images/f.png');
  // background-color: #eee;
  margin-right: 60px;
}

.slogan {
  font-size: 40px;
  padding: 15px 0;
  margin: 0;
}

.list_slogan {
  line-height: 1.5;
  margin: 0 0 30px;
  padding: 0 0 0 20px;
  font-weight: 500;
}

%btn {
  width: 160px;
  font-size: 16px;
  height: 50px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 3px;
}

.btn-guide {
  @extend %btn;
  background-color: transparent;
  color: #fff;
  line-height: 48px;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  font-weight: 700;

  &:hover, &:focus {
    background-color: #fff;
    color: #715CD6;
  }
}

.btn-download {
  @extend %btn;

  background-color: #fff;
  color: #715CD6;
  line-height: 50px;
  font-size: 16px;
  height: 50px;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  font-weight: 700;
  border: none;

  &:hover, &:focus {
    background-color: darken(#fff, 10%);
  }
}

// 下载
.gradation-box {
  position: relative;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;

  &:after, &:before {
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
  }

  &:before {
    top: -40px;
    background-image: radial-gradient(50% 56% at 50% 43px, #e4e5e9, #f3f6f7);
  }

  &:after {
    bottom: -40px;
    background-image: radial-gradient(50% 56% at 50% -3px, #e4e5e9, #f3f6f7);
  }
}

.download-group {
  padding: 50px 0 60px;
  margin-bottom: 40px + 40px;

  h2 {
    color: #715CD6;
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.download-version {
  color: #8B8C9B;
  font-weight: 500;
  margin-bottom: 20px;
}

.download-actions {
  > a {
    @extend %btn;
    background-color: #715CD6;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    .icon {
      margin-right: 10px;
    }

    .icon-github {
      font-size: 18px;
    }

    .icon-download {
      font-size: 18px;
    }

    &:hover, &:focus {
      background-color: darken(#715CD6, 10%);
    }
  }

  a + a {
    margin-left: 10px;
  }
}

// 更新日志
.changelog-group {
  padding: 0 70px;
  margin-bottom: 100px;
  text-align: left;

  h3 {
    color: #55575C;
    margin-bottom: 10px;
    font-weight: bold;
  }

  small {
    color: #715CD6;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 500;
  }
}

.changelog-list {
  color: #55575C;
  font-size: 18px;
  margin: 0px;
  padding-left: 20px;
  line-height: 25px;
}

.changelog-list-item {
  color: #8B8C9B;
  font-size: 14px;
}

// footer
.footer {
  padding: 10px 0 30px;
  margin: 0px 45px;
  font-size: 12px;
  line-height: 30px;
  border-top: 1px solid #D4DCE3;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.licensed {
  color: #715CD6;

  &:hover, &:focus {
    color: darken(#715CD6, 10%);
  }
}

